.indicator {
  width: 7px;
  height: 7px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #444;
  &.right {
    background-color: #00bc8c;
  }
  &.wrong {
    background-color: #d62c1a;
  }
}